@page
@model IndexModel
@{
  ViewData["Title"] = "Profiles";
}
<div>
  <h1>Profiles</h1>
  <table class="table row-border table-border row-hover">
    <tbody>
      @foreach (var profile in Model.Profiles)
      {
        <tr>
          <td><span class="mif-file-code"></span><a asp-page="/Profile" asp-route-profileId="@profile">@profile</a></td>
          <td><span>fix 4.1.3</span></td>
          <td><span>today</span></td>
        </tr>
      }
    </tbody>
  </table>
</div>

<button class="action-button" onclick="addProfileClicked();">
  <span class="icon"><span class="mif-plus"></span></span>
</button>

<div class="dialog" data-role="dialog" id="addProfileDialog">
  <div class="dialog-title">Create new configuration profile</div>
  <div class="dialog-content">
    <label>Profile name:</label>
    <input placeholder="enter unique profile name" /><br/>
    <small class="text-muted">Use this name later to access to configuration variables.</small>
  </div>
  <div class="dialog-actions">
    <button class="button js-dialog-close">Cancel</button>
    <button class="button primary js-dialog-close">Create</button>
  </div>
</div>

@section scripts{
  <script>
    function addProfileClicked() {
        //var dialog = Metro.dialog.open('#addProfileDialog');
        Metro.dialog.create({
            title: 'Create new configuration profile',
            content: '<label>Profile name: </label><input placeholder="enter unique profile name" require/><br/><span class="invalid-feedback">AAAA<span><small class= "text-muted" > Use this name later to access to configuration variables.</small>',
            actions: [
                {
                    caption: "Cancel",
                    cls: "js-dialog-close",
                    onclick: function () {
                        alert("You clicked Disagree action");
                    }
                },
                {
                    caption: "Create",
                    cls: "js-dialog-close primary",
                    onclick: function (dialog) {
                        var profileName = dialog.find('input').val();
                        if (profileName == '') {

                        }
                        console.log(dialog);
                        alert("You clicked Agree action");
                    }
                }
            ]
        });
    }

    function createProfile() {
        alert(1);
    }
  </script>
}